.grid {
  width: 100%;
  margin: 2rem 0;

  .cart {
    background-color: rgba(245, 245, 245, 0.396);
    border: 0.2px solid #141414;
    border-radius: 10px;
    padding: 1.4rem;
    
    &__date {
      background-color: #5f77e0;
      color: #fff;
      font-size: 0.8rem;
      padding: 5px 10px;
      border-radius: 3px;
    }
    &__title {
      margin-top: 1.2rem;
    }
    &__score,
    &__author {
      font-size: 0.9rem;
      color: #212121;
    }
    &__author {
      &:hover {
        color: tomato;
        text-decoration: underline 1px;
        text-underline-offset: 5px;
      }
    }
  }
}

